In [19]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [8]:
df = pd.read_csv('/Users/cameronlefevre/Test-Repo/ClassMaterial/Unit3/data/housing.csv')

In [16]:
tree = DecisionTreeRegressor()

In [9]:
X = df.drop('PRICE', axis=1)
y = df['PRICE']

In [10]:
guess = y.mean()

In [11]:
guess

22.532806324110698

In [13]:
y - guess

0       1.467194
1      -0.932806
2      12.167194
3      10.867194
4      13.667194
         ...
501    -0.132806
502    -1.932806
503     1.367194
504    -0.532806
505   -10.632806
Name: PRICE, Length: 506, dtype: float64

In [14]:
gradient = y - guess

In [17]:
tree.fit(X, gradient)

DecisionTreeRegressor()

In [18]:
tree.predict(X)

array([  1.46719368,  -0.93280632,  12.16719368,  10.86719368,
        13.66719368,   6.16719368,   0.36719368,   4.56719368,
        -6.03280632,  -3.63280632,  -7.53280632,  -3.63280632,
        -0.83280632,  -2.13280632,  -4.33280632,  -2.63280632,
         0.56719368,  -5.03280632,  -2.33280632,  -4.33280632,
        -8.93280632,  -2.93280632,  -7.33280632,  -8.03280632,
        -6.93280632,  -8.63280632,  -5.93280632,  -7.73280632,
        -4.13280632,  -1.53280632,  -9.83280632,  -8.03280632,
        -9.33280632,  -9.43280632,  -9.03280632,  -3.63280632,
        -2.53280632,  -1.53280632,   2.16719368,   8.26719368,
        12.36719368,   4.06719368,   2.76719368,   2.16719368,
        -1.33280632,  -3.23280632,  -2.53280632,  -5.93280632,
        -8.13280632,  -3.13280632,  -2.83280632,  -2.03280632,
         2.46719368,   0.86719368,  -3.63280632,  12.86719368,
         2.16719368,   9.06719368,   0.76719368,  -2.93280632,
        -3.83280632,  -6.53280632,  -0.33280632,   2.46719368,
        10.46719368,   0.96719368,  -3.13280632,  -0.53280632,
        -5.13280632,  -1.63280632,   1.66719368,  -0.83280632,
         0.26719368,   0.86719368,   1.56719368,  -1.13280632,
        -2.53280632,  -1.73280632,  -1.33280632,  -2.23280632,
         5.46719368,   1.36719368,   2.26719368,   0.36719368,
         1.36719368,   4.06719368,  -0.03280632,  -0.33280632,
         1.06719368,   6.16719368,   0.06719368,  -0.53280632,
         0.36719368,   2.46719368,  -1.93280632,   5.86719368,
        -1.13280632,  16.16719368,  21.26719368,  10.66719368,
         4.96719368,   3.96719368,  -3.93280632,  -3.23280632,
        -2.43280632,  -3.03280632,  -3.03280632,  -2.13280632,
        -2.73280632,  -3.13280632,  -0.83280632,   0.26719368,
        -3.73280632,  -3.83280632,  -4.03280632,  -4.23280632,
        -1.33280632,  -3.33280632,  -2.13280632,  -3.23280632,
        -0.53280632,  -2.23280632,  -2.03280632,  -5.23280632,
        -3.73280632,  -1.13280632,  -6.83280632,  -6.33280632,
        -4.53280632,  -8.23280632,  -3.33280632,  -2.93280632,
         0.46719368,  -4.13280632,  -6.93280632,  -4.43280632,
        -5.13280632,  -5.43280632,  -9.23280632,  -4.73280632,
        -8.53280632,  -8.13280632,  -9.13280632,  -6.93280632,
       -10.73280632,  -8.73280632,  -6.93280632,  -7.93280632,
        -4.73280632,  -7.13280632,  -1.03280632,  -2.93280632,
        -7.23280632,  -3.13280632,  -5.53280632,  -6.93280632,
        -9.43280632,  18.76719368,   1.76719368,   0.76719368,
         4.46719368,  27.46719368,  27.46719368,  27.46719368,
         0.16719368,   2.46719368,  27.46719368,   1.26719368,
         1.26719368,  -0.23280632,  -5.13280632,  -3.43280632,
         0.56719368,   1.06719368,   0.06719368,   6.86719368,
         0.66719368,   2.06719368,   7.36719368,  14.66719368,
        17.26719368,  13.66719368,  15.36719368,   9.96719368,
         3.86719368,   7.06719368,  27.46719368,   9.46719368,
         7.26719368,  12.36719368,  14.46719368,   7.96719368,
        13.86719368,   8.56719368,   6.56719368,  27.46719368,
        10.76719368,   7.76719368,  12.06719368,  12.36719368,
        10.36719368,   1.56719368,  19.76719368,  25.96719368,
        27.46719368,   0.06719368,   1.86719368,  -0.03280632,
         1.86719368,  -2.53280632,  -0.83280632,  -3.23280632,
        -0.13280632,   5.56719368,   1.16719368,   2.46719368,
         0.76719368,   6.16719368,  -1.03280632,   0.46719368,
         4.16719368,  -0.83280632,   4.96719368,   7.56719368,
        22.26719368,  27.46719368,  15.06719368,   9.06719368,
        24.16719368,   8.96719368,   1.76719368,   9.16719368,
        19.16719368,  25.76719368,   6.46719368,   1.46719368,
         2.56719368,   8.96719368,   1.16719368,   0.76719368,
        -0.53280632,  -2.43280632,  -0.33280632,   1.16719368,
        -4.93280632,  -4.03280632,   1.76719368,  -2.03280632,
         1.96719368,   3.66719368,   1.86719368,   2.26719368,
         7.06719368,  20.26719368,  -0.63280632,  -1.63280632,
        21.46719368,  27.46719368,  13.46719368,   7.56719368,
        11.26719368,  20.56719368,  26.26719368,   8.46719368,
        13.96719368,   0.26719368,   8.16719368,  27.46719368,
        20.96719368,  -1.83280632,  -1.43280632,   2.66719368,
         1.86719368,  12.66719368,   9.86719368,   9.46719368,
        10.66719368,  10.56719368,   6.56719368,  12.56719368,
        22.86719368,  12.86719368,  23.46719368,  27.46719368,
         9.66719368,  -0.53280632,  -2.43280632,   0.66719368,
        -0.23280632,   2.26719368,   5.96719368,  14.76719368,
         5.36719368,   1.36719368,  -0.83280632,   6.06719368,
         4.56719368,  -2.23280632,  -0.03280632,   6.46719368,
         2.26719368,  -0.53280632,   3.86719368,  10.56719368,
        13.56719368,   5.86719368,  10.86719368,   5.66719368,
         0.26719368,  -2.23280632,  -6.43280632,  -0.43280632,
        -3.13280632,  -0.93280632,   1.26719368,  -6.33280632,
        -4.73280632,  -2.73280632,   0.56719368,  -1.53280632,
         1.26719368,   0.56719368,  -2.13280632,  -4.03280632,
         2.46719368,   2.06719368,   0.46719368,  -0.33280632,
        -3.23280632,   0.06719368,  -2.73280632,  -5.43280632,
        -3.13280632,  -0.33280632,  -1.83280632,  -1.43280632,
        -3.03280632,  -4.03280632,  -1.93280632,  -3.53280632,
        -3.83280632,  10.16719368,  -6.03280632,   1.36719368,
         8.66719368,  -5.03280632,  -5.33280632,   0.56719368,
         1.96719368,   4.06719368,   0.36719368,   1.56719368,
        -3.93280632,   7.56719368,  -4.33280632,  -1.93280632,
        -4.73280632,  -0.83280632,   0.16719368,   0.06719368,
         2.46719368,  -2.63280632,  -1.73280632,  -5.73280632,
        -0.63280632,   4.96719368,  -0.63280632,   0.56719368,
        27.46719368,  27.46719368,  27.46719368,  27.46719368,
        27.46719368,  -8.73280632,  -8.73280632,  -7.53280632,
        -8.63280632,  -9.23280632,  -9.43280632, -12.33280632,
       -12.13280632, -11.63280632, -11.23280632, -10.23280632,
       -13.73280632, -15.33280632, -12.03280632, -15.13280632,
       -12.33280632, -11.03280632,  -7.43280632,   0.66719368,
       -12.83280632,  -8.73280632,  -9.83280632,  -9.43280632,
       -10.03280632, -14.03280632, -17.53280632, -16.23280632,
       -16.93280632, -15.33280632, -10.43280632, -14.23280632,
       -14.03280632, -17.53280632, -10.63280632,   5.36719368,
        -5.33280632,   4.96719368,  -7.53280632,  -5.33280632,
        -4.63280632,  -6.23280632, -15.53280632, -15.33280632,
       -15.03280632, -12.13280632, -13.73280632, -14.13280632,
        -5.83280632,  -8.33280632,  -1.73280632,  -9.13280632,
       -10.83280632, -14.23280632, -12.33280632, -11.63280632,
       -11.53280632, -13.03280632,  -8.03280632,  -8.43280632,
        -6.43280632,  -8.23280632, -10.83280632,  -9.13280632,
       -12.93280632, -13.83280632, -14.13280632,  -9.73280632,
       -12.03280632,  -5.43280632,  -4.13280632,  -7.13280632,
       -11.73280632, -10.73280632,  -7.63280632,  -9.93280632,
        -8.43280632,  -9.53280632,  -9.13280632,  -7.33280632,
        -6.43280632,  -4.73280632,  -7.63280632,  -8.43280632,
        -9.83280632,  -9.03280632,  -7.63280632,  -2.53280632,
        -6.13280632,  -4.83280632,  -3.03280632,  -2.33280632,
        -1.13280632,  -2.63280632,  -3.53280632,  -3.43280632,
        -3.43280632,  -2.43280632,  -2.63280632,  -2.93280632,
         0.66719368,   7.26719368,  -8.73280632,  -9.23280632,
        -5.83280632, -10.53280632,  -7.93280632,  -1.13280632,
         0.46719368,   1.16719368,   2.46719368,  -0.73280632,
        -1.93280632,  -1.33280632,  -3.43280632,  -1.93280632,
        -7.33280632, -15.53280632, -14.43280632,  -8.93280632,
        -2.43280632,  -0.73280632,   1.96719368,   0.56719368,
        -2.83280632,  -4.23280632,  -1.33280632,  -5.03280632,
        -5.73280632,  -0.13280632,  -1.93280632,   1.36719368,
        -0.53280632, -10.63280632])

In [24]:
df = pd.read_csv('/Users/cameronlefevre/Test-Repo/ClassMaterial/Unit3/data/restaurants.csv', parse_dates=['visit_date'])

In [25]:
df.head()

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [26]:
df.reserve_visitors.value_counts().sort_index()

1.0      1975
2.0     13587
3.0      5376
4.0      8042
5.0      3581
6.0      4627
7.0      6713
8.0      5639
9.0      3738
10.0     6703
11.0     2439
12.0     3677
13.0      744
14.0     1318
15.0     2259
16.0      704
17.0     1459
18.0     1047
20.0      722
21.0     2591
22.0      696
23.0     3564
24.0      613
25.0     3476
27.0      736
28.0      706
30.0     1297
31.0      738
32.0     1182
33.0      771
35.0     1358
36.0     2033
37.0      774
40.0      731
41.0      772
42.0      608
43.0     1372
44.0     1246
46.0     1393
47.0      771
48.0      603
51.0      659
54.0      767
58.0      574
59.0      672
60.0     1411
76.0      767
83.0      575
96.0      588
Name: reserve_visitors, dtype: int64

In [27]:
def denote_null_values(df):
    empty_cols_query = df.isnull().sum() > 0
    empty_df_cols = df.loc[:, empty_cols_query].columns.tolist()
    for col in empty_df_cols:
        col_name = f"{col}_missing"
        df[col_name] = pd.isnull(df[col])
    return df

In [28]:
denote_null_values(df)

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0,False
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0,False
252105,air_a17f0778617c76e2,2017-03-26,69,2017-03-26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0,False
252106,air_a17f0778617c76e2,2017-03-20,31,2017-03-20,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0,False
252107,air_a17f0778617c76e2,2017-04-09,26,2017-04-09,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0,False

In [29]:
df = denote_null_values(df)
# and fill in the missing ones
df = df.fillna(0)

In [30]:
df.isnull().sum()

id                          0
visit_date                  0
visitors                    0
calendar_date               0
day_of_week                 0
holiday                     0
genre                       0
area                        0
latitude                    0
longitude                   0
reserve_visitors            0
reserve_visitors_missing    0
dtype: int64

In [31]:
filled = df[~df['reserve_visitors'].isnull()]
missing = df[df['reserve_visitors'].isnull()]

In [32]:
filled

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0,False
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0,False
252105,air_a17f0778617c76e2,2017-03-26,69,2017-03-26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0,False
252106,air_a17f0778617c76e2,2017-03-20,31,2017-03-20,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0,False
252107,air_a17f0778617c76e2,2017-04-09,26,2017-04-09,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0,False

In [56]:
X = filled[['visitors', 'holiday', 'latitude', 'longitude']]
y = filled['reserve_visitors']

In [57]:
gmb = GradientBoostingRegressor()

In [36]:
gbm.fit(X, y)

GradientBoostingRegressor()

In [38]:
gbm.predict(missing[['visitors', 'holiday', 'latitude', 'longitude']])

ValueError: Found array with 0 sample(s) (shape=(0, 4)) while a minimum of 1 is required.

In [39]:
import category_encoders as ce

In [40]:
# initialize
encoder = ce.OrdinalEncoder()
# and use the fit_transform() method
encoder.fit_transform(df)

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,1,2016-01-13,25,1,1,0,1,1,35.658068,139.751599,0.0,True
1,1,2016-01-14,32,2,2,0,1,1,35.658068,139.751599,0.0,True
2,1,2016-01-15,29,3,3,0,1,1,35.658068,139.751599,0.0,True
3,1,2016-01-16,22,4,4,0,1,1,35.658068,139.751599,0.0,True
4,1,2016-01-18,6,5,5,0,1,1,35.658068,139.751599,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252103,829,2017-04-21,49,390,3,0,4,10,34.695124,135.197852,6.0,False
252104,829,2017-04-22,60,391,4,0,4,10,34.695124,135.197852,37.0,False
252105,829,2017-03-26,69,444,7,0,4,10,34.695124,135.197852,35.0,False
252106,829,2017-03-20,31,467,5,1,4,10,34.695124,135.197852,3.0,False
252107,829,2017-04-09,26,468,7,0,4,10,34.695124,135.197852,32.0,False

In [41]:
df

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0,False
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0,False
252105,air_a17f0778617c76e2,2017-03-26,69,2017-03-26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0,False
252106,air_a17f0778617c76e2,2017-03-20,31,2017-03-20,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0,False
252107,air_a17f0778617c76e2,2017-04-09,26,2017-04-09,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0,False

In [42]:
encoder.mapping

[{'col': 'id',
  'mapping': air_ba937bf13d40fb24      1
  air_25e9888d30b386df      2
  air_fd6aac1043520e83      3
  air_64d4491ad8cdb1c6      4
  air_ee3a01f0c71a769f      5
                         ...
  air_cf5ab75a0afb8af9    826
  air_1c0b150f9e696a5f    827
  air_900d755ebd2f7bbd    828
  air_a17f0778617c76e2    829
  NaN                      -2
  Length: 830, dtype: int64,
  'data_type': dtype('O')},
 {'col': 'calendar_date',
  'mapping': 2016-01-13      1
  2016-01-14      2
  2016-01-15      3
  2016-01-16      4
  2016-01-18      5
               ...
  2016-01-01    475
  2016-01-03    476
  2017-01-02    477
  2016-01-02    478
  NaN            -2
  Length: 479, dtype: int64,
  'data_type': dtype('O')},
 {'col': 'day_of_week',
  'mapping': Wednesday    1
  Thursday     2
  Friday       3
  Saturday     4
  Monday       5
  Tuesday      6
  Sunday       7
  NaN         -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'genre',
  'mapping': Dining bar                       1
  Izakaya                          2
  Cafe/Sweets                      3
  Italian/French                   4
  Other                            5
  Yakiniku/Korean food             6
  Japanese food                    7
  Okonomiyaki/Monja/Teppanyaki     8
  Bar/Cocktail                     9
  Creative cuisine                10
  Western food                    11
  Asian                           12
  International cuisine           13
  Karaoke/Party                   14
  NaN                             -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'area',
  'mapping': Tōkyō-to Minato-ku Shibakōen                   1
  Tōkyō-to Shinagawa-ku Higashigotanda           2
  Shizuoka-ken Hamamatsu-shi Motoshirochō        3
  Fukuoka-ken Fukuoka-shi Daimyō                 4
  Hyōgo-ken Kōbe-shi Sumiyoshi Higashimachi      5
                                              ...
  Tōkyō-to Meguro-ku Jiyūgaoka                 100
  Fukuoka-ken Fukuoka-shi Imaizumi             101
  Tōkyō-to Shibuya-ku Higashi                  102
  Tōkyō-to Setagaya-ku Kitazawa                103
  NaN                                           -2
  Length: 104, dtype: int64,
  'data_type': dtype('O')}]

In [45]:
# OneHot Encoding in category_encoders
ohe = ce.OneHotEncoder(use_cat_names=True)
ohe.fit_transform(df['day_of_week'])

,day_of_week_Wednesday,day_of_week_Thursday,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Tuesday,day_of_week_Sunday
0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0
2,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0
4,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...
252103,0,0,1,0,0,0,0
252104,0,0,0,1,0,0,0
252105,0,0,0,0,0,0,1
252106,0,0,0,0,1,0,0
252107,0,0,0,0,0,0,1

In [44]:
?ce.OneHotEncoder

In [46]:
df.id.value_counts()

air_5c817ef28f236bdf    477
air_a083834e7ffe187e    476
air_36bcf77d3382d36e    476
air_d97dabf7aae60da5    476
air_60a7057184ec7ec7    475
                       ...
air_1c0b150f9e696a5f     51
air_a17f0778617c76e2     47
air_789103bf53b8096b     41
air_a9a380530c1e121f     40
air_900d755ebd2f7bbd     20
Name: id, Length: 829, dtype: int64

In [47]:
te = ce.TargetEncoder()
# you need to declare X & y for this
X, y = df.drop('visitors', axis=1), df['visitors']
# observe the value for day_of_week
te.fit_transform(X, y)

,id,visit_date,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,22.782609,2016-01-13,18.433460,19.230121,0,18.723532,19.609418,35.658068,139.751599,0.0,True
1,22.782609,2016-01-14,19.229927,18.922702,0,18.723532,19.609418,35.658068,139.751599,0.0,True
2,22.782609,2016-01-15,23.506897,23.072737,0,18.723532,19.609418,35.658068,139.751599,0.0,True
3,22.782609,2016-01-16,26.780142,26.313688,0,18.723532,19.609418,35.658068,139.751599,0.0,True
4,22.782609,2016-01-18,14.486726,17.177009,0,18.723532,19.609418,35.658068,139.751599,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...
252103,44.595745,2017-04-21,25.030612,23.072737,0,22.582953,20.466463,34.695124,135.197852,6.0,False
252104,44.595745,2017-04-22,27.448320,26.313688,0,22.582953,20.466463,34.695124,135.197852,37.0,False
252105,44.595745,2017-03-26,24.098333,23.873362,0,22.582953,20.466463,34.695124,135.197852,35.0,False
252106,44.595745,2017-03-20,24.043400,17.177009,1,22.582953,20.466463,34.695124,135.197852,3.0,False
252107,44.595745,2017-04-09,23.018550,23.873362,0,22.582953,20.466463,34.695124,135.197852,32.0,False

In [49]:
df.groupby('id')['visitors'].mean()

id
air_00a91d42b08b08d9    26.081897
air_0164b9927d20bcc3     9.248322
air_0241aa3964b7f861     9.896465
air_0328696196e46f18     7.939655
air_034a3d5b40d5b1b1    14.828685
                          ...
air_fea5dc9594450608    14.485401
air_fee8dcf4d619598e    26.027778
air_fef9ccb3ba0da2f7     9.620408
air_ffcc2d5087e1b476    20.242798
air_fff68b929994bfbd     5.089219
Name: visitors, Length: 829, dtype: float64

In [50]:
df.id.value_counts()

air_5c817ef28f236bdf    477
air_a083834e7ffe187e    476
air_36bcf77d3382d36e    476
air_d97dabf7aae60da5    476
air_60a7057184ec7ec7    475
                       ...
air_1c0b150f9e696a5f     51
air_a17f0778617c76e2     47
air_789103bf53b8096b     41
air_a9a380530c1e121f     40
air_900d755ebd2f7bbd     20
Name: id, Length: 829, dtype: int64

In [51]:
# let's save our transformed dataset from target encoding
transformed = te.fit_transform(X, y)
# and look up the value for air_900d755ebd2f7bbd -- the restaurant with the lowest attendance value
transformed.id.value_counts()

15.288732     568
37.754717     477
37.754202     476
31.777311     476
27.325630     476
             ...
115.470588     51
44.595745      47
55.243902      41
44.875000      40
82.200000      20
Name: id, Length: 828, dtype: int64

In [55]:
# let's set min_samples_leaf to 21 -- which will exclude the last value from these calculations
te = ce.TargetEncoder(min_samples_leaf=20, smoothing=1)
# transform it
transformed2 = te.fit_transform(X, y)
# and look at our values for the last one -- way different
transformed2.id.value_counts()

15.288732     568
37.754717     477
27.325630     476
37.754202     476
31.777311     476
             ...
115.470588     51
44.595745      47
55.243902      41
44.875000      40
51.586881      20
Name: id, Length: 828, dtype: int64